<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite name="ShopAPI">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory suffix=".php">./src/UI</directory>
                <directory suffix=".php">./src/Infrastructure</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"   target="./var/phpunit/html"/>
        <log type="coverage-clover" target="./var/phpunit/test-clover.xml" />
        <log type="junit"           target="./var/phpunit/test-junit.xml" />
    </logging>
</phpunit>
